.state-table-header {
  background-color: #1e1e30;
  border: 1px solid #475569;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.16);
  border-radius: 12px;
  color: #f8fafc;
  font-family: Roboto;
  width: 1140px;
  margin-top: 105px;
  padding: 10px;
  margin-left: 140px;
}
@media screen and (max-width: 768px) {
  .state-table-header {
    width: 700px;
    margin-left: 20px;
  }
}
.state-or-ut-icon {
  margin-left: 0px;
  display: flex;
  align-items: center;
}
.state-item-list {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.state-name-icon-container {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}
.state-or-ut-heading {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: #f8fafc;
  margin-right: 10px;
}
.sort-icons {
  background-color: transparent;

  height: 20px;
  width: 20px;
}
.cases-table-headings {
  padding-left: 0px;
  margin: 0px;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 30px;
}
.table-heading1 {
  font-size: 16px;
  margin-left: 40px;
}
.order-buttons {
  cursor: pointer;
  outline: none;
  border: none;
  color: #f8fafc;

  background-color: transparent;
  border-color: transparent;
  margin-top: 20px;
}
