.about-list-item {
  display: flex;
  flex-direction: column;
  list-style-type: none;
}
.about-question {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 32px;
  color: #94a3b8;
}
.about-answer {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 32px;
  color: #007bff;
}
