.state-table-header {
  background-color: transparent;

  display: flex;
  border-bottom: 1px solid #475569;
  border-radius: 12px;
}
.state-or-ut-icon {
  display: flex;
  align-items: center;
  width: 50%;
}
.state-or-ut-heading {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: #f8fafc;
  margin-right: 10px;
}
.sort-icons {
  background-color: transparent;
  color: #94a3b8;
  height: 20px;
  width: 20px;
}
.cases-table-headings {
  padding-left: 0px;
  margin: 0px;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 30px;
}
.table-heading1 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: #f8fafc;
  list-style-type: none;
  margin-right: 70px;
}
.order-buttons {
  cursor: pointer;
  outline: none;
  border: none;
  background-color: transparent;
}
