.not-found-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #161625;
  min-height: 100vh;
}
.not-found-heading {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 48px;
  color: #cbd5e1;
}
.page-not-found-text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 32px;
  color: #94a3b8;
}
.not-found-button {
  background: #2563eb;
  border-radius: 12px;
  padding: 12px 24px 12px 24px;
  height: 48px;
  width: 80px;
  color: #ffffff;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  border: none;
  cursor: pointer;
  outline: none;
}
.not-found-image {
  height: 300px;
  width: 500px;
  color: #f2f2f2;
  background-color: transparent;
}
