.covid-loader-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.failure-home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.failure-image-about {
  height: 200px;
  width: 350px;
}
.failure-home-heading-about {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 48px;

  text-align: center;

  color: #cbd5e1;
}
.failure-home-text-about {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 32px;

  text-align: center;

  color: #94a3b8;
}
.about-failure-btn {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 0px 8px;
  border: none;
  outline: none;
  cursor: pointer;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.about-app-container {
  width: 1440px;
  height: 100%;

  display: flex;
  flex-direction: column;

  background-color: #161625;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}
@media screen and (min-width: 768px) {
  .about-app-container {
    width: 100vw;
    justify-content: center;
  }
}
.mobile-nav-content-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: space-between;
  color: #ffffff;
  font-family: Roboto;
  list-style-type: none;
  margin-left: 32px;
}
.mobile-nav-content-items {
  display: flex;
  color: #ffffff;
}
.link-item {
  text-decoration: none;
  color: #ffffff;
}
.mobile-about-text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 20px;

  color: #94a3b8;
}
.close-button {
  background-color: #ffffff;
  font-size: 20px;
  height: 20px;
  width: 20px;
  border-radius: 20px;
  margin-left: 174px;
}
.close-icon {
  background: #ffffff;
  height: 20px;
  width: 20px;
}
.about-content {
  margin-left: 20px;
}
@media screen and (min-width: 768px) {
  .about-content {
    margin-left: 30px;
  }
}
.about-heading {
  width: 129px;
  height: 64px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 30px;

  line-height: 20px;

  color: #f8fafc;
}
@media screen and (min-width: 768px) {
  .about-heading {
    font-size: 30px;
    line-height: 20px;
  }
}

.last-update {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 30px;

  line-height: 30px;

  color: #94a3b8;
}
@media screen and (min-width: 768px) {
  .last-update {
    font-size: 14px;
  }
}
.distribution-para-about {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 20px;

  color: #e2e8f0;
}
@media screen and (min-width: 768px) {
  .distribution-para-about {
    font-size: 16px;
    line-height: 24px;
  }
}

.faqs-list-container {
  list-style-type: none;
  margin-left: 0px;
  padding-left: 0px;
  margin-top: 20px;
}
.abut-facts-heading {
  width: 129px;
  height: 64px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 40px;

  line-height: 44px;

  color: #f8fafc;
}
@media screen and (min-width: 768px) {
  .abut-facts-heading {
    font-size: 20px;
    line-height: 30px;
  }
}
.facts-list {
  list-style-type: none;
  margin-left: 0px;
  padding-left: 0px;
  margin-top: 20px;
}
