.home-container {
  background-color: #161625;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.responsive-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
}
.search-container {
  display: flex;
  align-items: center;
  background-color: #2f2f43;
  border-radius: 8px;
  width: 700px;
  height: 70px;
  padding-left: 15px;
}

@media screen and (min-width: 768px) {
  .search-container {
    width: 1000px;
  }
}
.search-input {
  background-color: transparent;
  color: #94a3b8;
  cursor: pointer;
  outline: none;
  border: none;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}
.all-cases-container {
  display: flex;
  align-items: center;
}
.individual-cases-container {
  height: 140px;
  width: 900px;
  background-color: transparent;
}
.bs-search-icon {
  color: #94a3b8;

  margin-right: 10px;
  background-color: transparent;
  height: 24px;
  width: 24px;
}

.state-wise-response-list {
  padding-left: 0px;
  display: flex;
  flex-direction: column;
  background-color: transparent;
}
.state-table-container {
}
