.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 95px;
  padding: 30px;
  padding-right: 95px;
  background-color: #1e1e30;
  height: 80px;
  width: 100vw;
}

@media screen and (max-width: 768px) {
  .header-container {
    padding: 15px;
    height: 50px;
    width: 100vw;
  }
}
.title-container {
  display: flex;
  align-items: center;
}
.title-link {
  text-decoration: none;
}
.covid-19-heading {
  color: #ffffff;
  font-size: 20px;
  line-height: 24px;
  font-family: 'Bree Serif';
  font-weight: 800;
  font-style: normal;
}
.india-heading {
  color: blue;
  font-size: 20px;
  line-height: 24px;
  font-family: Bree Serif;
  font-weight: 800;
  font-style: normal;
}
.nav-items-list {
  display: flex;
  padding-left: 0px;
}
.link-item {
  list-style-type: none;
}
.route-link {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  margin-left: 16px;
}
.add-button {
  cursor: pointer;
  outline: none;
  border: none;
  background-color: transparent;
  border-color: transparent;
  margin-left: 185px;
}

@media screen and (min-width: 768px) {
  .add-button {
    display: none;
  }
}
